<html>

<body style="
background:#0f172a;
color:white;
font-family:Arial;
padding:40px;
">

<h1>Add Quiz Question</h1>

<form method="POST">

<input
type="number"
name="course_id"
placeholder="Course ID"
required
><br><br>

<input
type="text"
name="question"
placeholder="Question"
required
style="width:400px;"
><br><br>

<input type="text" name="option1" placeholder="Option 1" required><br><br>
<input type="text" name="option2" placeholder="Option 2" required><br><br>
<input type="text" name="option3" placeholder="Option 3" required><br><br>
<input type="text" name="option4" placeholder="Option 4" required><br><br>

<input
type="text"
name="correct_answer"
placeholder="Correct Answer"
required
><br><br>

<button type="submit">
Add Quiz
</button>

</form>

</body>
</html>